.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #000;
}

.logo {
  color: #6c63ff;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #6c63ff;
  text-decoration: none;
  font-weight: bold;
}
